    @font-face
    /* Police des 4 pages  " La Page Index " */
    
    {
        font-family: "Roboto Regular";
        src: url("/font/Roboto-Regular.ttf") format("truetype");
    }
    
    body
    /* Police des 5 pages  " La Page Index  " */
    
    {
        font-family: "Roboto Regular", sans-serif;
        font-size: 1.5rem;
    }
    /* Titre h1 */
    
    h1 {
        text-align: center;
        margin: 20px 0px;
    }
    /* Titre h2 */
    
    h2 {
        margin: 5px;
    }
    /* Classe pour le détails du panier  Page-Panier  */
    
    .Article-Panier-Détails {
        display: flex;
        border: 1px solid black;
        height: 200px;
        width: 100%;
        font-size: 1.2rem;
    }
    /* Afficher la marque ou le nom du site avec Bootstrap. Ici j'affiche l'image du logo ORINOCO */
    
    .navbar-brand img {
        width: 748px;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
    /* Classe de la section Page Index-Produit */
    
    .Content {
        background: #774634;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    /* Classe des articles Page Index-Produit*/
    
    .Article {
        text-align: center;
        border: 1px solid black;
        margin: 50px;
        padding: 1px;
        box-shadow: 0px 0px 20px 7px black;
        background: white;
    }
    
    .Article figure {
        margin: 0px;
    }
    /* Classe des Liens Page Index*/
    
    .Liens {
        text-decoration: none;
        color: black;
    }
    /* Classe des div des Images des articles*/
    
    .Div-Image {
        height: 425px;
        overflow: hidden;
    }
    /* Classe des Images des articles*/
    
    .Div-Image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    /* Classe des Errors Inputs*/
    /*Css -> Page-Produit Figcaption-Description */
    
    .Produit-Figcaption-Description {
        font-size: 1.2rem;
        margin: 5px;
    }
    /*Css -> Paragraphe prix  page Index-Produit */
    
    .Prix {
        font-size: 1.2rem;
        margin: 5px;
    }
    /*Css -> Span + Label + Select Page-produit */
    
    .Taille-Span {
        display: block;
        font-size: 1.2rem;
        margin: 5px auto;
        width: 60%;
    }
    /*Css -> Span + Label + Select Page-produit */
    
    .Personnalisation {
        color: sienna;
        font-size: 1rem;
        padding: 15px 15px 15px 150px;
        font-weight: bold;
    }
    /*Classe pour changer la taille du Span Page-produit */
    
    .Taille-Select {
        font-size: 1rem;
        cursor: pointer;
        color: burlywood;
        background: black;
    }
    /* Form - Boutton- Ajouter au panier  Page - Produit */
    
    .Form-Produit {
        text-align: center;
        padding-bottom: 25px;
    }
    /* Input - Boutton- Ajouter au panier  Page - Produit */
    
    .Boutton-Produit {
        color: white;
        background: black;
        padding: 20px;
        font-size: 1rem;
        border-radius: 40px;
        overflow: hidden;
        cursor: pointer;
    }
    /* Couleur bois Burlywood avec un Hover sur l'input  - Boutton- Ajouter au panier  Page - Produit */
    
    .Boutton-Produit:hover {
        color: burlywood;
    }
    /* Couleur verte au click avec le selecteur active sur l'input  - Boutton- Ajouter au panier  Page - Produit */
    
    .Boutton-Produit:active {
        color: green;
    }
    /* Pour mettre une bordure aux  ( case ) des données du panier */
    
    td {
        border: 1px solid black;
    }
    
    @media screen and (min-width:769px) and (max-width:1089px)
    /* styles pour tablettes*/
    
    {
        .Article-Panier-Détails {
            display: flex;
            border: 1px solid black;
            height: 200px;
            font-size: 0.9rem;
            width: 100%;
        }
        .navbar-brand {
            width: 50%;
        }
        .navbar-brand img {
            width: 90%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }
        .Div-Image {
            height: 425px;
            overflow: hidden;
        }
        .Visibilite navbar-collapse {
            height: 80px;
        }
    }
    
    @media screen and (min-width:415px) and (max-width:768px)
    /* styles pour mobile paysage + Portrait*/
    
    {
        .Article-Panier-Détails {
            display: flex;
            border: 1px solid black;
            height: 200px;
            width: 100%;
            font-size: 0.6rem;
            text-align: center;
        }
        .navbar-brand {
            width: 50%;
        }
        /* Afficher la marque ou le nom du site avec Bootstrap. Ici j'affiche l'image du logo ORINOCO */
        .navbar-brand img {
            width: 75%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }
        .Div-Image {
            height: 400px;
            overflow: hidden;
        }
    }
    
    @media screen and (max-width: 414px)
    /* styles pour mobile petit écran paysage+Portrait*/
    
    {
        #DonneesPanier {
            font-size: 1rem;
        }
        .Article-Panier-Détails {
            display: flex;
            border: 1px solid black;
            height: 200px;
            margin: 0px;
            width: 100%;
            font-size: 0.4rem;
        }
        .navbar-brand {
            width: 50%;
            margin: 0px;
        }
        /* Afficher la marque ou le nom du site avec Bootstrap. Ici j'affiche l'image du logo ORINOCO */
        .navbar-brand img {
            width: 75%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }
        .navbar-toggler {
            font-size: 0.8rem;
            padding: 2px 6px;
        }
        /* Classe des Images des articles*/
        .Div-Image {
            height: 200px;
            overflow: hidden;
        }
        /* Classe pour modifier la taille de la largeur ( width ) des  Inputs */
        .Largeur-Input {
            font-size: 1.0rem;
        }
        /* Classe pour modifier la largeur (width) des bouttons des  Inputs */
        .Boutton-Largeur-Input {
            font-size: 1.0rem;
        }
    }
    
    @media screen and (max-width: 320px)
    /* styles pour mobile très petit écran Portrait*/
    
    {
        #DonneesPanier {
            font-size: 0.7rem;
        }
        /* Classe pour modifier la largeur (width) des bouttons des  Inputs */
        .Boutton-Largeur-Input {
            font-size: 0.8rem;
        }
    }