@font-face
/* Police des 4 pages  " La Page Index " */

{
    font-family: "Roboto Regular";
    src: url("/font/Roboto-Regular.ttf") format("truetype");
}

body
/* Police des 5 pages  " La Page Index  " */

{
    font-family: "Roboto Regular", sans-serif;
}

h1 {
    text-align: center;
    margin: 20px 0px;
}

.Logo {
    text-align: center;
}

.Liens {
    text-decoration: none;
    color: black;
}

.Article {
    text-align: center;
}

.Content {
    background: burlywood;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Div-Article {
    height: 360px;
    overflow: hidden;
}

.Div-Article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/*Css -> Page-Produit Figcaption-Description */

.Produit-Figcaption-Description {
    font-size: 1.2rem;
}


/*Css -> Paragraphe prix */

.Prix {
    font-size: 1.2rem;
}


/*Css -> Selec- produit */

.Personnalisation {
    color: blue;
    font-size: 1.2rem;
    padding: 15px;
}


/*Css -> Form - Boutton-Produit */

.form {
    text-align: center;
}


/*Css ->  Boutton-Produit */

.Boutton-Produit {
    background: rgb(0, 174, 255);
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 40px;
    overflow: hidden;
}